body {
  padding: 20px;
  box-sizing: border-box;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 300;
  color: #636b79;
}

h1, h2, h3 {
  color: #263042;
}


.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

header, footer {
  text-align: center;
}

.block {
  margin-bottom: 60px;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .p-calendar {
    margin-left: 20px;
  }
}
