@import '../node_modules/normalize.css/normalize.css';
@import '../node_modules/@blueprintjs/icons/lib/css/blueprint-icons.css';
@import '../node_modules/@blueprintjs/core/lib/css/blueprint.css';
@import '../node_modules/@blueprintjs/datetime/lib/css/blueprint-datetime.css';

body {
  padding: 20px;
  box-sizing: border-box;
}


.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

header, footer {
  text-align: center;
}

.block {
  margin-bottom: 60px;
}
